[submodule "libs/rpi-rgb-led-matrix"]
	path = libs/rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libs/SDL_mixer"]
	path = libs/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "libs/meteosource"]
	path = libs/meteosource
	url = https://github.com/Meteosource/meteosource_cpp.git
[submodule "libs/eduke32"]
	path = libs/eduke32
	url = https://github.com/bestander/eduke32.git
